<%- include("header") -%>
<div class="box" id= "heading">
    <a href="http://localhost:3000/">    <h1><%=today_date %></h1>
    </a>
</div>

<div class="container">

    <div class="cont_header">
        <h1><%=listTitle%></h1>
        <i class="far fa-plus-square"></i>
    </div>

    <h1> 
        <form action="/:customListname" method="POST">      
        <input type="text" name="title_input" placeholder="New list" maxlength="40" id = "title_input">
        </form>     
    </h1>

    <ul>
    <% newListItems.forEach(function(item){%>
        <li> 

        <form action="/delete" method="POST">
                <span>
                <input type="checkbox" name="checkbox" value = "<%= item._id %>" onChange="this.form.submit()">
                <input type="hidden" name="list" value="<%= listTitle %>"></input>
                </span>
                <p class="item_name"><%=  item.name  %></p>
        </form>
        </li>

    <% })%>

    <li>
    <form action="/" method="POST" class= "item">
        <input type="text" name= "newItem" placeholder="New Item" autocomplete="off" id="item_input">
        <button type="submit" name= "list" value="<%= listTitle%>" id="item_input_button">submit</button>
    </form>
    </li>
    </ul>

</div>

<%- include("footer") -%>

<!-- <span><i class="far fa-trash-alt"></i></span> -->
